.menu{
    margin: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
   padding-top: 3.2rem;
}
.menuLink{
    display: inline-flex;
    justify-content: center;
    text-decoration: none;
    background-color: var(--primary);
    color: var(--text-over-primary);
    transition:all 0.1s easy-in-out; 
    padding:1.2rem ;
    border-radius: 0.8rem;
}
.menuLink:hover{
filter: brightness(80%);
}

.menuLink sgv{
    width: 6.4rem;
    height: 6.4rem;
}